.speech{
    font-family: "Times New Roman";
    font-size: 17px;
    color: black;
}
.stage-direction{
    font-family: "serif";
    font-size: 17px;
    color: black;
    background-color: lightsteelblue;
}
.name{
   font-family: "chiller";
    font-size: 17px;
    color: black;
    background-color: lightgrey;
}
.stage-direction.hover{
    background-color: lightblue;
    color: purple;
}
.LORD{
    color:cyan;
}
.SIR{
    color: sienna;
}
.LADY{
    color: violet;
}
h6{
    margin: 10px 0;
}