.speech{
    font-family: "Times New Roman";
    font-size: 17px;
    color: black;
}
.stage-direction{
    font-family: "serif";
    font-size: 17px;
    color: black;
    background-color: lightsteelblue;
}
.name{
   font-family: "chiller";
    font-size: 17px;
    color: black;
    background-color: lightgrey;
}
.stage-direction.hover{
    background-color: lightblue;
    color: purple;
}
.LORD{
    color:cyan;
}
.SIR{
    color: sienna;
}
.LADY{
    color: violet;
}
h6{
    margin: 10px 0;
}
table, th, td, tr{
    border:solid blueviolet;
    color:burlywood;
    text-align: left;
    border-collapse: collapse;
    padding: 12px;
    margin:14px;
}
    tr:nth-child(even) {background-color: lightcyan;}
    .name:hover{
        text-shadow:5px 3px 8px red;
        border:solid 4px plum;
    }