.speech{
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman';}

.stage-direction{
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman';
    background-color: darkgrey;}

.name{
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman';
    background-color:cyan;}

.stage-direction.hover{
    color: purple;
    background-color: lightblue;
}

.LORD GORING{
    color: deeppink;
}

.SIR ROBERT CHILTERN{
    color: darkmagenta;
}

.LADY CHILTERN{
    color: coral;
}
h6{
    margin: 10px 0;
}